html {
  font-family: "Nunito", sans-serif;
}

header {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
  margin-bottom: 20px;
}
.orange-text {
  font-size: 0.8rem;
  color: orange;
  margin-top: 20px;
  margin-bottom: 5px;
}
button {
  background-color: orange;
  border: 0;
  font-family: Nunito, sans-serif;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0 50px 50px 50px;
  color: white;
  margin-bottom: 40px;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

img {
  border-radius: 10%;
  padding-bottom: 15px;
  content: normal;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  margin-top: -70px;
  color: white;
  font-weight: 200;
}
h3 {
  margin-top: -20px;
  color: white;
}
.black {
  color: black;
}

@media (min-width: 1000px) {
  header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (min-width: 1000px) {
  .orange-text {
    font-size: 1.2rem;
    color: orange;
    margin-top: 100px;
    margin-bottom: 5px;
  }
}

@media (min-width: 1000px) {
  .title {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: -100px;
  }
}

@media (min-width: 1000px) {
  button {
    display: flex;
    align-self: flex-end;
    background-color: orange;
    border: 1;
    font-family: Nunito, sans-serif;
    padding: 1.5rem 2rem 1.5rem 2rem;
    border-radius: 0 50px 50px 50px;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 40px;
  }
  button:hover {
    background-color: white;
    border: 2px orange solid;
    color: orange;
  }
}

@media (min-width: 1000px) {
  main {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
}

@media (min-width: 1000px) {
  img {
    height: 600px;
    width: 500px;
    object-fit: cover;
    border-radius: 10%;
  }
}

@media (min-width: 1000px) {
  h4 {
    font-size: 0;
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 0;
  }
}
